body {
  font-size: 16px;
  background-color: #282c34;
  color: #ffffff;
}

.woerterbuch {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  grid-gap: 50px;
}

h1,
h3 {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
}

h3 {
  font-size: 1.8rem;
}

.wb-login,
.wb-add {
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 10px;
  /* justify-content: center; */
}

select,
input,
button {
  background-color: #fff;
  height: 48px;
  font-size: 1.5rem;
  padding: 0 10px;
}

.wb-view {
  display: grid;
  grid-gap: 20px;
}

.wb-word {
  max-width: 356px;
  display: grid;
  grid-gap: 5px;
}

.wb-meaning,
.wb-note {
  padding-left: 10px;
}

.wb-meaning {
  font-size: 1.2rem;
  font-weight: bold;
}

.wb-note {
  color: #ccc;
  font-size: 1rem;
}

.wb-capitalize {
  text-transform: capitalize;
}

.wb-word-type {
  font-size: 1rem;
  margin-left: 5px;
  color: #3cc;
  font-style: italic;
}
